# Wirtualne środowiska Pythona
venv/**/*
.venv/**/*
venv_linux/**/*
.venv_linux/**/*


# Pliki tymczasowe Pythona
__pycache__/
*.pyc

# Pliki tymczasowe VS Code
.vscode/

# Dane przetwarzane
uploads/**/*
results/**/*
source/**/*
test_results/**/*
reports/**/*

# Ignorowanie wszystkich plików graficznych TIFF i PNG
*.tiff
*.tif
*.png
*.jpeg
*.jpg
*.gif
*.bmp
*.ico
*.webp
*.svg

# Ignorowanie katalogu z plikami tymczasowymi JSX
app/temp_jsx/
logs/**/*

.trae/**/*
.kilocode/**/*
# .doc-gen/**/*.md
# .doc-gen/**/*

.doc/**/*
.history/**/*

gatto__filesystem/dist/**/*
gatto__filesystem/node_modules/**/*
gatto_filesystem_v2/dist/**/*
gatto_filesystem_v2/node_modules/**/*